/* styles.css */
body {
    font-family: 'Courier New', monospace;
    background-color: #f8f8f8fd;
    color: #474747;
}



header {
    max-width: 800px;
    margin: 2em auto;
    padding: 1rem;
    background-color: #f8f8f8fd;
    font-size: 10px
}

footer {
    max-width: 800px;
    margin: 2em auto;
    padding: 1rem;
    background-color: #f8f8f8fd;
    font-size: 11px;
    text-align: center;
    padding-top: 2rem;
}

#googleformlink, #githublink {
    font-size: 10px
}



main {
    max-width: 680px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f8f8f8fd;
    font-size: 16px;
    line-height: 1.25
}



.column1 {
    float: left;
    width: 200px;
    padding-right: 20px;
    padding-bottom: 80px
  }

.column2 {
    float: left;
    width: 200px;
    padding-right: 200px;
    padding-bottom: 80px
  }



nav {
    background-color: #E0E9F5;
    padding: 1rem;
    text-align: center;
}

nav a {
    margin: 0 20px;
    color: #A9B1B1;
    text-decoration: none;
    font-size: 17px;
}

nav a.active {
    color: #1245BA;
    font-size: 17.5px;

}

nav a:hover {
    color: #474747;
    font-size: 17.5px;
}


  
h1 {
    color: #1245BA;
}

a {
    color: #474747;
    font-size: 17px
}



a:hover {
    color: #645845;
    font-size: 17px
}

#date {
    margin-left: 2rem;
}
